{% extends "base.html" %}

{% block title %}Report{% endblock %}

{% block content%}
<h1 align="center">Time-tracker Report Page</h1>

<h5>Time-Tracker Table</h5>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">S/N</th>
        <th scope="col">Name</th>
        <th scope="col">Time-in</th>
        <th scope="col">Time-out</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        {% if user.sign_in_time.date() == today %}
        <th scope="user">{{user.id}}</th> <!-- {{loop.index}} -->
        <td>{{user.first_name}} {{user.last_name}}</td>
        <td>{{user.sign_in_time.hour}}:{{user.sign_in_time.minute}}</td>


        {% if user.sign_out_time == None %}
        <!-- The second part above was necessary so as not to allow display sign-out time
        when the user is just signing out the next day. -->
        <td>  </td>

        {% else %}
        <td>{{user.sign_out_time.hour}}:{{user.sign_out_time.minute}}</td>
        {% endif %}

        <td>
          {% if user.sign_in_status and user.sign_in_time.date() == new_date %}
                <a href="/sign_out/{{user.id}}"  class="btn btn-outline-danger btn-sm mx-1">Sign_out</button>
          {% else %}
                <a href="#"  class="btn btn-outline-primary btn-sm mx-1">Signed_out</button>
          {% endif %}
        </td>
        </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
